<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@500&family=Inter:wght@500&display=swap");
      body {
        font-family: Inter;
      }
    </style>
    <title>Symphony</title>
  </head>
  <body
    style="
      background: linear-gradient(124.82deg, #d6d6fe -2.03%, #ffdfe8 98.91%);
    "
  >
    <div
      style="
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 84vh;
      "
    >
      <img src="https://cdn.discordapp.com/attachments/750019721193324544/968941975984279602/symphony.png" width="800"/>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 2rem;
        "
      >
        <button
          style="
            background: linear-gradient(0deg, #fedfe8, #fedfe8), #15141d;
            background-repeat: no-repeat;
            border: 1px solid #000000;
            box-sizing: border-box;
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            width: 320px;
            height: 55px;
            font-size: large;
            cursor: pointer;
          "
        >
          <i class="fa fa-upload"></i>
          Upload your music file
        </button>
        <p style="padding-top: 10px">Song uploaded:</p>
      </div>

      <div
        style="
          padding-top: 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <p style="padding-top: 10px">The genre of the song uploaded is</p>
        <div
          style="
            background: #15141d;
            border: 1px solid #fedfe8;
            box-sizing: border-box;
            border-radius: 33px;
            width: 607px;
            height: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <h1
            style="
              font-family: Fahkwang;
              text-align: center;
              font-size: 5rem;
              color: #fedfe8;
            "
          >
            classical
          </h1>
        </div>
      </div>
    </div>
  </body>
</html>
