<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@500&family=Inter:wght@500&display=swap");
      body {
        font-family: Inter;
      }
    </style>
    <title>Symphony</title>
  </head>
  <body
    style="
      background: linear-gradient(124.82deg, #d6d6fe -2.03%, #ffdfe8 98.91%);
    "
  >
    <div
      style="
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 84vh;
      "
    >
      <img
        src="https://cdn.discordapp.com/attachments/750019721193324544/968941975984279602/symphony.png"
        width="800"
      />

      {% if data['label'] == " " %}
      <form
        action="http://localhost:5000/api/uploader"
        method="POST"
        enctype="multipart/form-data"
        style="
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-top: 2rem;
        "
      >
        <input
          type="file"
          name="file"
          style="
            background: linear-gradient(0deg, #fedfe8, #fedfe8), #15141d;
            background-repeat: no-repeat;
            border: 1px solid #000000;
            box-sizing: border-box;
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            width: 320px;
            height: 55px;
            font-size: large;
            padding: 15px;
          "
        />
        <br />
        <input type="submit" style="margin-top: 15px; padding: 3px" />
      </form>
      {%else%}
      <button
        style="
          background: linear-gradient(0deg, #fedfe8, #fedfe8), #15141d;
          background-repeat: no-repeat;
          border: 1px solid #000000;
          box-sizing: border-box;
          box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          width: 320px;
          height: 55px;
          font-size: large;
          text-decoration: none;
          color: #000;
        "
      >
        <a href="http://localhost:5000/">Try another song!</a>
      </button>
      {%endif%}
      <div
        style="
          padding-top: 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <p style="font-size: 1.5rem">The genre of the song uploaded is</p>
        {% if data['label'] == "pop" %}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947625443344464/pop.png"
          width="500"
        />
        {%elif data['label'] == 'reggae'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947625661435944/reggae.png"
          width="500"
        />
        {%elif data['label'] == 'rock'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947625913110609/rock.png"
          width="500"
        />
        {%elif data['label'] == 'blues'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947626131206214/blues.png"
          width="500"
        />
        {%elif data['label'] == 'hiphop'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947627150438412/hiphop.png"
          width="500"
        />
        {%elif data['label'] == 'metal'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947627586641970/metal.png"
          width="500"
        />
        {%elif data['label'] == 'country'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947626621952041/country.png"
          width="500"
        />
        {%elif data['label'] == 'classical'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947626370297856/classical.png"
          width="500"
        />
        {%elif data['label'] == 'jazz'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947627389485067/jazz.png"
          width="500"
        />
        {%elif data['label'] == 'disco'%}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968947626861006868/disco.png"
          width="500"
        />
        {% else %}
        <img
          src="https://cdn.discordapp.com/attachments/750019721193324544/968950040502599710/blank.png"
          width="500"
        />
        {%endif%}
      </div>
    </div>
  </body>
</html>
